Resources:
  CPUAlarmHigh:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: CPU utilization is too high
      MetricName: CPUUtilization
      Namespace: AWS/EC2
      Statistic: Average
      Period: 300
      EvaluationPeriods: 2
      Threshold: 80
      ComparisonOperator: GreaterThanThreshold
      Dimensions:
        - Name: EnvironmentName
          Value: {"Ref" : "AWSEBEnvironmentName"}
      AlarmActions:
        - {"Ref" : "AlarmTopic"}

  MemoryAlarmHigh:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: Memory utilization is too high
      MetricName: MemoryUtilization
      Namespace: AWS/EC2
      Statistic: Average
      Period: 300
      EvaluationPeriods: 2
      Threshold: 80
      ComparisonOperator: GreaterThanThreshold
      Dimensions:
        - Name: EnvironmentName
          Value: {"Ref" : "AWSEBEnvironmentName"}
      AlarmActions:
        - {"Ref" : "AlarmTopic"}

  AlarmTopic:
    Type: AWS::SNS::Topic
    Properties:
      DisplayName: JustDoIt Alarms 